BACKBLAZE_APPLICATION_KEY_ID = "003f69accbc63280000000001"
BACKBLAZE_APPLICATION_KEY = "K003OMsFWIvniVkyYIhP1yjuQnElwZ4"
BACKBLAZE_BUCKET_NAME = "psikodonustr-files"
BACKBLAZE_ENDPOINT = "https://s3.eu-central-003.backblazeb2.com"
